/** @format */

body {

  background-image: url("image/lol/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  
  /* background-color: aqua; */
  display:flex;
  align-items: center;
  justify-content: center;
  width:100%;
  /* height:100%; */
  min-height:100vh; /* 중앙정렬을 위한 높이 설정 */

}


.container .heroes {
  display: flex;
  justify-content: center;
  
  background-color:rgba(4, 26, 29, 0.5);
  width: 50%;
  margin: 0 auto;
  padding: 20px 10px;
  border-radius: 4px;
  flex-flow: row wrap;

}


.container .heroes .hero {

  /* transform: skew(-10deg);
  transition: transform 1.2s; */

}

/* 테두리, 폰트색 변경 */

.container .heroes .hero:hover .image {

  border: 1px inset rgba(255, 174, 0, 1) ;
  box-shadow: 0 0 0 2px rgba(255, 174, 0, 0.5) inset;
  transition: 0.5s;
  
}
.container .heroes .hero:hover .name {/* hero라는 분모요소를 호버하면 자식 요소인 name 컬러가 바뀝니다 */
  color: rgb(253, 194, 0);
  transition: 0.5s;
  font-weight:500; /* 맞아용 얇게 200~300 기본 400 미디움 500 볼드 600 그 이상 700~900 */
  
  /* 숫자  ㅁ백단위?? */
  /* 폰트 쉐도우도 잇사뇨? ㅇㅇㅇㅇ */
  text-shadow: 0 0 2px rgba(255, 174, 0, 1 );
}


.container .heroes .hero .image {
  border: 1px inset rgba(253, 194, 0, 0.5);
  margin: 8px 12px;

  overflow: hidden;
  width: 100px;
  height: 100px;
  background-size: cover;


}

.container .heroes .hero .name {
  color: rgb(253, 194, 0, 0.5);
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
}



.container .logo img {
  width: 100%;
}

/* 사진 넣기 작업 */
/* 사진이 해당 경로에 없다면 경로 수정해주세요. */
.container .heroes .hero:nth-child(1) .image {
  background-image: url('image/lol/01.png');
  /* background-color: #df0000; */
}

.container .heroes .hero:nth-child(2) .image {
  background-image: url('image/lol/02.png');
}

.container .heroes .hero:nth-child(3) .image {
  background-image: url('image/lol/03.png');
}

.container .heroes .hero:nth-child(4) .image {
  background-image: url('image/lol/04.png');
}

.container .heroes .hero:nth-child(5) .image {
  background-image: url('image/lol/05.png');
}

.container .heroes .hero:nth-child(6) .image {
  background-image: url('image/lol/06.png');
}

.container .heroes .hero:nth-child(7) .image {
  background-image: url('image/lol/07.png');
}

.container .heroes .hero:nth-child(8) .image {
  background-image: url('image/lol/08.png');
}

.container .heroes .hero:nth-child(9) .image {
  background-image: url('image/lol/09.png');
}

.container .heroes .hero:nth-child(10) .image {
  background-image: url('image/lol/10.png');
}

.container .heroes .hero:nth-child(11) .image {
  background-image: url('image/lol/11.png');
}

.container .heroes .hero:nth-child(12) .image {
  background-image: url('image/lol/12.png');
}

.container .heroes .hero:nth-child(13) .image {
  background-image: url('image/lol/13.png');
}

.container .heroes .hero:nth-child(14) .image {
  background-image: url('image/lol/14.png');
}

.container .heroes .hero:nth-child(15) .image {
  background-image: url('image/lol/15.png');
}

.container .heroes .hero:nth-child(16) .image {
  background-image: url('image/lol/16.png');
}

.container .heroes .hero:nth-child(17) .image {
  background-image: url('image/lol/17.png');
}

.container .heroes .hero:nth-child(18) .image {
  background-image: url('image/lol/18.png');
}

.container .heroes .hero:nth-child(19) .image {
  background-image: url('image/lol/19.png');
}

.container .heroes .hero:nth-child(20) .image {
  background-image: url('image/lol/20.png');
}

.container .heroes .hero:nth-child(21) .image {
  background-image: url('image/lol/21.png');
}

.container .heroes .hero:nth-child(22) .image {
  background-image: url('image/lol/22.png');
}

.container .heroes .hero:nth-child(23) .image {
  background-image: url('image/lol/23.png');
}

.container .heroes .hero:nth-child(24) .image {
  background-image: url('image/lol/24.png');
}

.container .heroes .hero:nth-child(25) .image {
  background-image: url('image/lol/25.png');
}

.container .heroes .hero:nth-child(26) .image {
  background-image: url('image/lol/26.png');
}

.container .heroes .hero:nth-child(27) .image {
  background-image: url('image/lol/27.png');
}

.container .heroes .hero:nth-child(28) .image {
  background-image: url('image/lol/28.png');
}

.container .heroes .hero:nth-child(29) .image {
  background-image: url('image/lol/29.png');
}

.container .heroes .hero:nth-child(30) .image {
  background-image: url('image/lol/30.png');
}